.header {
  background: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  margin: 20px 18px;
  margin-bottom: 5px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
.header__optionLineOne {
  font-size: 10px;
}
.header__menu {
  color: white;
  padding-left: 10px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.header__link {
  color: white;
  text-decoration: none;
}

.header__Search {
  display: flex;
  flex: 1;
}
.header__SearchIcon {
  background: #cd9042;
  padding: 5px;
  height: 22px !important;
}
.header__Input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
